<% content_for :nav, render('layouts/navbar_landing') %>



<section class="section-header pb-lg-7  section-image bg-tertiary overlay-primary text-white overflow-hidden pb-9" style="background-image: url(<%= asset_path "game-index-background.jpg" =%>);">
    
        <div class="row justify-content-center ">
            <div class="col-lg-5 pl-6 text-center ">                
                <p class="align-middle mt-5" style="font-size: 40px">Loue 5 jeux de société pour <strong>9,99€</strong> par mois</p>
                <a href="#taxes"><small>+ frais de port</small></br></a>
                <%= link_to "Je m'abonne !", new_user_registration_path, class: "btn btn-light btn-lg mt-3 mb-3", style: "font-size: 20px;" , method: "GET" %>
            </div>
            <div class="col-lg-7 text-center" style="height: 400px">
                <%= video_tag "video-landing.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, :height => "100%", :style => "border-radius: 10px;" %>
            </div>
        </div>
    
    <figure class="position-absolute bottom-0 left-0 w-100 d-none d-md-block mb-n2">
        <svg class="fill-soft" enable-background="new 0 0 1504 131.3" viewBox="0 0 1504 131.3" xmlns="http://www.w3.org/2000/svg"><path d="m877.8 85c139.5 24.4 348 33.5 632.2-48.2-.2 32.5-.3 65-.5 97.4-505.9 0-1011.6 0-1517.5 0 0-33.3 0-66.7 0-100.1 54.2-11.4 129.5-23.9 220-28.2 91-4.3 173.6 1 307.4 18.6 183.2 24.2 295.2 49.4 358.4 60.5z"/></svg>
    </figure>
</section>
<!-- Video -->

<!-- Pourquoi pulpo ludo -->

<section class="section section-lg bg-soft pb-4">
    <div class="container">
        <div class="row justify-content-center mb-lg-3">
            <div class="col-12 col-md-8 text-left text-sm-center mb-5">
                <h2 id = "why" class="h1">Une large ludothèque de plus de 1000 jeux de société</h2>                
            </div>
        </div>
        <div class="row align-items-center justify-content-between mb-6 text-justify" >
            <div class="col-md-6 col-lg-7">
                <p class="bubble-left"> Je passe à côté de trop de jeux</p>
            </div>
            <div class="col-md-6 col-lg-4">
               <div class="card mb-2 bg-soft">
                  <div class="card-body p-0">
                     <div class="d-flex">                                                          
                           <p class= "bubble-description">C’est une frustration partagée. </br> Pour y remédier, nous mettons à ta disposition une <strong>large ludothèque</strong> de jeux de société modernes en location. Tu pourras tester beaucoup plus de jeux, dont les <strong>dernières nouveautés.</strong></p>
                     </div>
                  </div>
               </div>                  
            </div>
        </div>

        <div class="row align-items-center justify-content-between text-justify mb-6">
            <div class="col-md-6 col-lg-4 order-lg-1">
                <div class="card mb-2 bg-soft">
                    <div class="card-body p-0">
                        <div class="d-flex">                                
                            <p class= "bubble-description">Avec <strong>plus de 1000 jeux de société</strong> qui sortent chaque année en France c’est normal... C’est pour cela que nous voulons t’aider en te conseillant les jeux spécialement adaptés à <strong>tes envies</strong> !</p>                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-7 mb-5 order-lg-2">
                <p class="bubble-right">Il y a trop de jeux qui sortent, je n’arrive pas à suivre…</p>

            </div>
        </div>

        <div class="row align-items-center justify-content-between mb-6 text-justify">
            <div class="col-md-6 col-lg-7">
               <p class="bubble-left">De toute façon c’est trop cher et je n’ai pas la place...</p>
            </div>
            <div class="col-md-6 col-lg-4">                                            
               <div class="card mb-2 bg-soft">
                  <div class="card-body p-0">
                     <div class="d-flex">
                        <div>                                   
                           <p class= "bubble-description">On s’est dit ça aussi lorsque notre salon est devenu plus rempli que la boutique du coin ! </br> Notre abonnement mensuel te permettra de <strong>maîtriser ton budget</strong>. Tu posséderas 5 jeux en permanence chez toi pour varier les plaisirs ludiques.</p>
                        </div>
                     </div>
                  </div>
               </div>                  
            </div>

        </div>
        <div class="col-12 text-sm-center mb-5">         
          <%= link_to "Je m'abonne !", new_user_registration_path, class: "btn btn-primary btn-lg mt-0 mb-3", style: "font-size: 20px;" , method: "GET" %>
        </div>
    </div>
</section>

<!-- Testimonials -->

<div class="section bg-white">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-12 col-lg-9 text-center">
                        <!-- Tab -->
                        <div class="nav-wrapper">
                            <ul class="nav nav-pills nav-pill-circle flex-sm-row justify-content-center" id="tab-34" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link bg-white text-sm-center avatar-link active" id="tab-link-example-13" data-toggle="tab" href="#link-example-13" role="tab" aria-controls="link-example-13" aria-selected="true">
                                        <%= image_tag 'testimonials/QP.jpg', class: "rounded-circle", alt: "testimonial avatar" %>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link bg-white text-sm-center avatar-link" id="tab-link-example-14" data-toggle="tab" href="#link-example-14" role="tab" aria-controls="link-example-14" aria-selected="false">
                                        <%= image_tag 'testimonials/BB.png', class: "rounded-circle ", alt: "testimonial avatar" %>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link bg-white text-sm-center avatar-link" id="tab-link-example-15" data-toggle="tab" href="#link-example-15" role="tab" aria-controls="link-example-15" aria-selected="false">
                                        <%= image_tag 'testimonials/VT.jpg', class: "rounded-circle", alt: "testimonial avatar" %>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link bg-white text-sm-center avatar-link" id="tab-link-example-16" data-toggle="tab" href="#link-example-16" role="tab" aria-controls="link-example-16" aria-selected="false">
                                        <%= image_tag 'testimonials/VD.jpg', class: "rounded-circle", alt: "testimonial avatar" %>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link bg-white text-sm-center avatar-link" id="tab-link-example-17" data-toggle="tab" href="#link-example-17" role="tab" aria-controls="link-example-17" aria-selected="false">
                                        <%= image_tag 'testimonials/BH.png', class: "rounded-circle", alt: "testimonial avatar" %>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- End of Tab Nav -->
                        <!-- Tab Content -->
                        <div class="card">
                            <div class="card-body p-0">
                                <div class="tab-content" id="tabcontentexample-5">
                                    <div class="tab-pane fade show active" id="link-example-13" role="tabpanel" aria-labelledby="tab-link-example-13">
                                        <span class="d-block my-3">
                                            <span class="star fas fa-star text-warning"></span>
                                            <span class="star fas fa-star text-warning"></span>
                                            <span class="star fas fa-star text-warning"></span>
                                            <span class="star fas fa-star text-warning"></span>
                                            <span class="star fas fa-star text-warning"></span>
                                        </span>
                                        <blockquote class="blockquote bg-white p-0 p-md-4">
                                            Avant je ne savais jamais quel jeu acheter, il y a tellement de choix... Avec Pulpo Ludo, on ne conseille des jeux qui me correspondent vraiment ! 
                                            <footer class="blockquote-footer mt-3 text-primary">Quentin Plaud</footer>
                                        </blockquote>
                                    </div>
                                    <div class="tab-pane fade" id="link-example-14" role="tabpanel" aria-labelledby="tab-link-example-14">
                                        <span class="d-block my-3">
                                            <span class="star fas fa-star text-warning"></span>
                                            <span class="star fas fa-star text-warning"></span>
                                            <span class="star fas fa-star text-warning"></span>
                                            <span class="star fas fa-star text-warning"></span>
                                            <span class="star fas fa-star text-warning"></span>
                                        </span>
                                        <blockquote class="blockquote bg-white p-0 p-md-4">
                                            J'adore les jeux de société mais habitant à Paris, j'ai vite été à l'étroit dans mon studio avec toutes mes boîtes de jeux. Maintenant je peux avoir un turn over dans ma ludothèque, c'est le top !
                                            <footer class="blockquote-footer mt-3 text-primary">Bénédicte Bouclon</footer>
                                        </blockquote>
                                    </div>
                                    <div class="tab-pane fade" id="link-example-15" role="tabpanel" aria-labelledby="tab-link-example-15">
                                        <span class="d-block my-3">
                                            <span class="star fas fa-star text-warning"></span>
                                            <span class="star fas fa-star text-warning"></span>
                                            <span class="star fas fa-star text-warning"></span>
                                            <span class="star fas fa-star text-warning"></span>
                                            <span class="star fas fa-star text-warning"></span>
                                        </span>
                                        <blockquote class="blockquote bg-white p-0 p-md-4">
                                            La facilité d'échange des jeux est vraiment plaisante. Il m'arrive parfois de garder un jeu plusieurs mois quand il me plaît vraiment, ou de le renvoyer la semaine d'après s'il ne m'a pas vraiment plu. C'est génial !
                                            <footer class="blockquote-footer mt-3 text-primary">Vera Turan</footer>
                                        </blockquote>
                                    </div>
                                    <div class="tab-pane fade" id="link-example-16" role="tabpanel" aria-labelledby="tab-link-example-16">
                                        <span class="d-block my-3">
                                            <span class="star fas fa-star text-warning"></span>
                                            <span class="star fas fa-star text-warning"></span>
                                            <span class="star fas fa-star text-warning"></span>
                                            <span class="star fas fa-star text-warning"></span>
                                            <span class="star fas fa-star text-warning"></span>
                                        </span>
                                        <blockquote class="blockquote bg-white p-0 p-md-4">
                                            J'adore regarder les avis sur chaque jeu, cela me permet de mieux choisir mes jeux chaque mois. Jusqu'à maintenant, je n'ai jamais été déçu de mes sélections !
                                            <footer class="blockquote-footer mt-3 text-primary">Victor Dautheville</footer>
                                        </blockquote>
                                    </div>
                                    <div class="tab-pane fade" id="link-example-17" role="tabpanel" aria-labelledby="tab-link-example-17">
                                        <span class="d-block my-3">
                                            <span class="star fas fa-star text-warning"></span>
                                            <span class="star fas fa-star text-warning"></span>
                                            <span class="star fas fa-star text-warning"></span>
                                            <span class="star fas fa-star text-warning"></span>
                                            <span class="star fas fa-star text-warning"></span>
                                        </span>
                                        <blockquote class="blockquote bg-white p-0 p-md-4">
                                            De part mon travail, je déménage régulièrement. Recevoir mes jeux de société où je veux et quand je veux, me permet d'avoir ça en moins à déménager, en plus de la diversité des jeux proposés.
                                            <footer class="blockquote-footer mt-3 text-primary">Bérangère Hermann</footer>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End of Tab -->
                    </div>
                </div>
            </div>
        </div>

<!-- Fin des avis -->

<section class="section-header bg-soft pb-7">

            <div class="container">
                <div class="row justify-content-center mb-6">
                    <div id="taxes" class="col-12 col-lg-10 text-center">

                        <h1 class="display-2 mb-3">Notre abonnement</h1>
                        <p class="lead px-lg-7">5 jeux en accès illimité pour 9,99€/mois </p>
                        <p><small>+ frais de port de 10€ pour chaque nouvel envoi</small></p>
                    </div>
                </div>

                <div class="row mb-4 mb-lg-5">
                    <div class="col-md-2">
                    </div>
                    
                    <div class="col-12 col-md-8 mb-4">
                        <!-- Pricing Card -->
                        <div class="pricing-card">
                            <div class="card border-light p-1 p-lg-2 p-xl-4">
                                <!-- Header -->
                                <header class="card-header border-bottom bg-white text-center">
                                    <span class="d-block">
                                        <span class="display-1 text-primary font-weight-bold">
                                            9,99<span class=" font-medium">€</span>
                                    </span>
                                    <span class="font-small">/ mois </br>+ frais de port</span>
                                    </span>
                                </header>
                                <!-- End Header -->
                                <!-- Content -->
                                <div class="card-body">
                                    <h3 class="h6 font-weight-normal text-dark mb-4">En m'abonnant à PulpoLudo:</h3>
                                    <div class="d-flex">
                                        <div class="icon-md icon-secondary lh-180 mr-3">
                                            <span class="fas fa-check-circle check-green"></span>
                                        </div>
                                        <p>Je peux voir la liste des jeux</p>
                                    </div>
                                    <div class="d-flex">
                                        <div class="icon-md icon-secondary lh-180 mr-3">
                                            <span class="fas fa-check-circle check-green"></span>
                                        </div>
                                        <p>Je peux compléter mon profil de joueur</p>
                                    </div>
                                    <div class="d-flex">
                                        <div class="icon-md icon-secondary lh-180 mr-3">
                                            <span class="fas fa-check-circle check-green"></span>
                                        </div>
                                        <p>Je peux donner mon avis sur chaque jeu</p>
                                    </div>
                                    <div class="d-flex">
                                        <div class="icon-md icon-secondary lh-180 mr-3">
                                            <span class="fas fa-check-circle check-green"></span>
                                        </div>
                                        <p>Je reçois un mail personnalisé en début de mois me conseillant 5 jeux</p>
                                    </div>
                                    <div class="d-flex">
                                        <div class="icon-md icon-secondary lh-180 mr-3">
                                            <span class="fas fa-check-circle check-green"></span>
                                        </div>
                                        <p>Je peux louer 5 jeux</p>
                                    </div>
                                    <div class="d-flex">
                                        <div class="icon-md icon-secondary lh-180 mr-3">
                                            <span class="fas fa-check-circle check-green"></span>
                                        </div>
                                        <p>Je peux les garder autant de temps que je veux</p>
                                    </div>
                                    <div class="d-flex">
                                        <div class="icon-md icon-secondary lh-180 mr-3">
                                            <span class="fas fa-check-circle check-green"></span>
                                        </div>
                                        <p>Je peux les échanger quand je veux</p>
                                    </div>
                                    <div class="d-flex">
                                        <div class="icon-md icon-secondary lh-180 mr-3">
                                            <span class="fas fa-check-circle check-green"></span>
                                        </div>
                                        <p>J’ai accès à un coach de jeu</p>
                                    </div>
                                    <%= link_to "Je m'inscris", new_user_registration_path, class: "btn btn-outline-primary btn-block mt-4", method: "GET" %>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>
                                
                            


<section class=" bg-soft line-bottom-light">
        <div class="container">
            <div class="row justify-content-center ">
                <div class="col-12 col-lg-8 text-center">
                    <h1 class="display-3 mb-6">Comment ça marche ?</h1>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <!--Accordion-->
                    <div class="accordion" id="accordionExample1">
                        <div class="card card-sm card-body border-light mb-0">
                            <a href="#panel-1" data-target="#panel-1" class="accordion-panel-header" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-1"><span class="h6 mb-0 font-weight-bold">Accède à une vaste ludothèque de jeux de société</span> <span class="icon"><span class="fas fa-plus"></span></span></a>
                            <div class="collapse" id="panel-1">
                                <div class="pt-3">
                                    <p class="mb-0">Souscrire à notre abonnement mensuel te permettra d’accéder à notre vaste ludothèque de jeux de société régulièrement mise à jour avec les dernières nouveautés.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card card-sm card-body border-light mb-0">
                            <a href="#panel-2" data-target="#panel-2" class="accordion-panel-header" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-2"><span class="h6 mb-0 font-weight-bold">Découvre de nouvelles expériences ludiques</span> <span class="icon"><span class="fas fa-plus"></span></span></a>
                            <div class="collapse" id="panel-2">
                                <div class="pt-3">
                                    <p class="mb-0">Pour t’aider dans tes choix de jeux, notre équipe de passionnés te conseillera chaque mois une liste de jeux spécialement adaptée à ton profil.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card card-sm card-body border-light mb-0">
                            <a href="#panel-3" data-target="#panel-3" class="accordion-panel-header" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-3"><span class="h6 mb-0 font-weight-bold">Reçois tes jeux où tu veux, quand tu veux</span> <span class="icon"><span class="fas fa-plus"></span></span></a>
                            <div class="collapse" id="panel-3">
                                <div class="pt-3">
                                    <p class="mb-0">Nous t'enverrons les 5 jeux que tu as choisi directement chez toi ou en point relais.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card card-sm card-body border-light mb-0">
                            <a href="#panel-4" data-target="#panel-4" class="accordion-panel-header" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-4"><span class="h6 mb-0 font-weight-bold">Fais-les découvrir à tous tes amis</span> <span class="icon"><span class="fas fa-plus"></span></span></a>
                            <div class="collapse" id="panel-4">
                                <div class="pt-3">
                                    <p class="mb-0">Une fois les jeux reçus tu peux en profiter aussi longtemps que tu le souhaites.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card card-sm card-body border-light mb-0">
                            <a href="#panel-5" data-target="#panel-5" class="accordion-panel-header" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-5"><span class="h6 mb-0 font-weight-bold">Retournes-les pour pouvoir en commander 5 nouveaux</span> <span class="icon"><span class="fas fa-plus"></span></span></a>
                            <div class="collapse" id="panel-5">
                                <div class="pt-3">
                                    <p class="mb-0">Quand tu en as envie, renvoies-les nous pour en recevoir contre 5 nouveaux.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End of Accordion-->
                </div>
            </div>
        </div>
</section>


<section class="section section-lg bg-soft">
    <div class="container">
        <div class="row justify-content-center mb-2 mb-lg-6">
            <div class="col-12 col-md-10 col-lg-8">
                <!-- Contact Card -->
                <div class="card border-0 p-2 p-md-3">
                    <div class="card-body px-0">
                        <div class="row">
                            <div class="col-sm-12 text-center mt-3"> 
                              <h2>Démarrer votre abonnement</br> maintenant</h2>
                            <%= link_to "Je m'inscris !", new_user_registration_path, class: "btn btn-secondary my-2", method: "GET" %>                                
                            </div>                                
                        </div>
                            <!-- <div class="row justify-content-center mt-4 mt-lg-5">
                                <div class="col-12"> -->
                                    <!-- Email Card -->
                                <!--     <div class="card border-0 p-0 p-md-5">
                                        <div class="card-header text-center p-0 pb-5">
                                            <h4>Tu ne veux rien rater de notre actualité?</h4>
                                            <p>Laisse nous ton email !</p>
                                        </div>
                                        <div class="card-body p-0">
                                            <form action="#" method="post">    -->                        
                                                <!-- Form -->
                                               <!--  <div class="form-group">                              
                                                    <div class="input-group mb-4">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><span class="far fa-envelope"></span></span>
                                                        </div>
                                                        <input class="form-control" id="email" placeholder="example@email.com" type="email" aria-label="contact email input">
                                                    </div>
                                                </div>
                                                <button type="submit" class="btn btn-block rounded btn-light">Envoyer</button>
                                            </form>
                                        </div> -->
                                    <!-- </div> -->
                                    <!-- Phone Card -->
                                    <!-- <div class="card border-0 p-0 p-md-5">
                                        <div class="card-header text-center p-0 pb-5">
                                            <h4>Participation au pré lancement</h4>
                                            <p>Si tu veux faire partie du pré lancement de notre application au printemps 2021, laisse nous ton numéro de téléphone et nous te recontacterons pour en discuter très prochainement.</p>
                                        </div>
                                        <div class="card-body p-0">
                                            <form action="#" method="post">  -->                         
                                                <!-- Form -->
                                               <!--  <div class="form-group">                              
                                                    <div class="input-group mb-4">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><span class="fas fa-phone-alt"></span></span>
                                                        </div>
                                                        <input class="form-control" id="phone" placeholder="+33" type="number" aria-label="contact email input">
                                                        
                                                    </div>
                                                </div>
                                                <button type="submit" class="btn btn-block rounded btn-light">Envoyer</button> -->
                                            <!-- </form> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- End of Contact Card -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    


