

<div class="col-12 col-md-6 col-lg-4 d-flex">
    <div class="card-group d-flex">
  
    <!-- Card -->
    <div class="card border-light mb-4 animate-up-5">
        <a href="<%= game_sheet_path(game_sheet.id) %>">
            <%if game_sheet.game_picture.attached?%>
                <%= image_tag game_sheet.game_picture, :alt => "game img", class:"card-img p-2 rounded-xl", style: "height: 300px; width: auto" %>
            <%else%>
                <%= image_tag asset_path( 'game-index-background4.jpg' ), :alt => "game img", class:"card-img p-2 rounded-xl", style: "height: 300px; width: auto" %>
            <% end %>
        </a>
        <div class="card-body flex-fill">
            <a href="<%= game_sheet_path(game_sheet.id) %>">
                <h4 class="h5"><%= game_sheet.title %></h4>
            </a>
            <div class="d-flex my-4">
                <i class="star fas fa-star text-warning"></i> 
                <i class="star fas fa-star text-warning"></i> 
                <i class="star fas fa-star text-warning"></i> 
                <i class="star fas fa-star text-warning"></i> 
                <i class="star fas fa-star text-warning"></i>
                <span class="badge badge-pill badge-primary ml-2">5.0</span>
            </div> 
            <div class="list-group">
                <p class="list-group-item small p-0"><%= game_sheet.description %></p>
            </div> 
        </div>
        
        <div class="card-footer bg-soft border-top">
            <div class="d-flex justify-content-between">
                <ul class="list-group mb-1">
                    <li class="list-group-item small p-0"><span class="fas fa-users mr-2"></span><%= game_sheet.nb_players %> joueurs</li>
                    <li class="list-group-item small p-0"><span class="fas fa-birthday-cake mr-2"></span><%= game_sheet.age_min %>+ ans</li>
                    <li class="list-group-item small p-0"><span class="fas fa-car-battery mr-2"></span>difficulté <%= game_sheet.difficulty %></li>
                </ul>
            </div>
            <% if game_in_stock?(game_sheet)%>
              <% if user_signed_in? %>

                
                  <%= link_to "Ajouter au panier", cart_path(current_cart.id, :game_sheet_id => game_sheet.id), method: 'PUT' , class: "btn btn-outline-gray rounded animate-up-2 mt-3 btn-block"%>

              
              <% end %>
            <% else %>
              <span class="text-muted font-small d-block">Ce jeu n'est plus disponible</span>
            <% end %>
        </div>
    </div>
    <!-- End of Card -->

    </div>
</div>



