<div class="card border-light mb-4 animate-up-5">
  <div class="row no-gutters align-items-center">

    <% if false %>
      <div class="col-12 col-lg-6 col-xl-5" style="height: 300px;">
        <a href="<%= game_sheet_path(game_sheet.id) %>">
          
          <%= image_tag game_sheet.image_url, :alt => "kitten img", class:"card-img p-2 rounded-xl", style: "height: 300px; width: auto" %>
        </a>
      </div>
    <% end %>

    <div class="col-12 col-lg-6 col-xl-7">
      <div class="card-body">
        <a href="<%= game_sheet_path(game_sheet.id) %>">
          <h4 class="h5"><%= game_sheet.title %></h4>
        </a>
        <div class="d-flex my-3">
          <span class="star fas fa-star text-warning"></span> 
          <span class="star fas fa-star text-warning"></span> 
          <span class="star fas fa-star text-warning"></span> 
          <span class="star fas fa-star text-warning"></span> 
          <span class="star fas fa-star text-warning"></span>
          <span class="badge badge-pill badge-primary ml-2">5</span>
        </div> 
        <div class="d-flex my-3">
          <%= game_sheet.description %>
        </div>
        <div class="d-flex justify-content-between">
          <div class="col pl-0">
            <span class="text-muted font-small d-block">nombre de joueur</span>
            <span class="h6 text-dark font-weight-bold"><%= game_sheet.nb_players %></span>
          </div>
          <div class="col pl-0">
            <span class="text-muted font-small d-block">temps de jeu</span>
            <span class="h6 text-dark font-weight-bold"><%= game_sheet.playing_time %></span>
          </div>
          <div class="col pl-0">
            <span class="text-muted font-small d-block">age minimum</span>
            <span class="h6 text-dark font-weight-bold"><%= game_sheet.age_min %></span>
          </div>
          <div class="col pl-0">
            <span class="text-muted font-small d-block">langage</span>
            <span class="h6 text-dark font-weight-bold"><%= game_sheet.languages %></span>
          </div>
          <div class="col pl-0">
            <span class="text-muted font-small d-block">date de publication</span>
            <span class="h6 text-dark font-weight-bold"><%= game_sheet.publication_date %></span>
          </div>
          <div class="col pl-0">
            <span class="text-muted font-small d-block">difficulter</span>
            <span class="h6 text-dark font-weight-bold"><%= game_sheet.difficulty %></span>
          </div>

          <% if game_in_stock?(game_sheet)%>
            <% if user_signed_in? %>
              <div class="col">
                <%= link_to "Ajouter a mon abonnement", cart_path(current_cart.id, :game_sheet_id => game_sheet.id), method: 'PUT' , class: "btn btn-primary"%>
              </div>
            <%else%>
              <span class="text-muted font-small d-block">rediriger vers page d'inscription</span>
            <% end %>
          <% else %>
            <span class="text-muted font-small d-block">Ce jeux n'ai plus disponible</span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>