<div class=" p-0 p-md-4">
        <div class="card-header border-bottom p-3">                                        
            <p class="small pr-lg-10">Voici les jeux que tu as chez toi :</p>
        </div>
        <div class="card-body px-0 pt-0">
            <ul class="list-group">
                <li class="list-group-item border-bottom">
                    <div class="col-auto row align-items-center">
                        <div class="image-cover" style="height: 100px; width: 100px; background-image: url(<%= asset_path( 'game-index-background2.jpg' ) %>);">                                                        
                        </div>
                        <div class="col">                       
                            <h3 class="h6 mb-1">
                                <a href="./invoice.html">Jeu n°1</a>
                            </h3>                                                        
                            <small class="text-gray-700">
                                Chez moi depuis le 21 Août 2020
                            </small>
                        </div>
                        
                    </div>
                </li>
                <li class="list-group-item border-bottom">
                    <div class="col-auto row align-items-center">
                        <div class="image-cover" style="height: 100px; width: 100px; background-image: url(<%= asset_path( 'game-index-background.jpg' ) %>);">                                                        
                        </div>
                        <div class="col">                       
                            <h3 class="h6 mb-1">
                                <a href="./invoice.html">Jeu n°2</a>
                            </h3>
                            <small class="text-gray-700">
                                Chez moi depuis le 21 Août 2020
                            </small>
                        </div>
                    </div>
                </li>
                <li class="list-group-item border-bottom">
                    <div class="col-auto row align-items-center">
                        <div class="image-cover" style="height: 100px; width: 100px; background-image: url(<%= asset_path( 'game-index-background.jpg' ) %>);">                                                        
                        </div>
                        <div class="col">                       
                            <h3 class="h6 mb-1">
                                <a href="./invoice.html">Jeu n°3</a>
                            </h3>
                            <small class="text-gray-700">
                                Chez moi depuis le 21 Août 2020
                            </small>
                        </div>
                       
                    </div>
                </li>
                <li class="list-group-item border-bottom">
                    <div class="col-auto row align-items-center">
                        <div class="image-cover" style="height: 100px; width: 100px; background-image: url(<%= asset_path( 'game-index-background.jpg' ) %>);">                                                        
                        </div>
                        <div class="col">                       
                            <h3 class="h6 mb-1">
                                <a href="./invoice.html">Jeu n°4</a>
                            </h3>
                            <small class="text-gray-700">
                                Chez moi depuis le 21 Août 2020
                            </small>
                        </div>
                        
                    </div>
                </li>
                <li class="list-group-item border-bottom">
                    <div class="col-auto row align-items-center">
                        <div class="image-cover" style="height: 100px; width: 100px; background-image: url(<%= asset_path( 'game-index-background.jpg' ) %>);">                                                        
                        </div>
                        <div class="col">                       
                            <h3 class="h6 mb-1">
                                <a href="./invoice.html">Jeu n°5</a>
                            </h3>                                                        
                            <small class="text-gray-700">
                                Chez moi depuis le 21 Août 2020
                            </small>
                        </div>                        
                    </div>
                </li>
            </ul>            
        </div>
        <button class="ml-3 col-auto btn btn-primary">Retourner mes jeux</button>
    </div>
</div>