<div class="section section-lg bg-soft">
  <div class="container">
    <div class="row pt-5 pt-md-0">

      <!-- Profile menu with recurring paths -->

      <div class="col-12 col-md-4 d-none d-lg-block">
        <%= render 'shared/menu_profil' %>
      </div>

      <!-- Customized form for user info edition -->

      <div class="col-12 col-lg-8">
              
        <div class="card border-light p-2">

          <div class="card-body p-2">
          
            <h3 class="my-5 font-weight-normal text-center">Modifier mon profil</h3>

            <%= form_for @user do |f| %>
      
              <div class="form-group">
                <%= f.label "Genre", class: "mb-2" %>                                     
                <%= f.select :gender, ['Femme', 'Homme', 'Autre'], {}, class: 'form-control' %>
              </div>
                              
              <div class="form-group">
                <%= f.label "Prénom", class: "mb-2" %>
                <%= f.text_field :first_name, class: "form-control" %>
              </div>

              <div class="form-group">
                <%= f.label "Nom de famille", class: "mb-2" %>
                <%= f.text_field :last_name, class: "form-control" %>
              </div>

                <div class="form-group">
                <%= f.label "Date de naissance", class: "mb-2" %>
                <%= f.date_field :date_of_birth, class:"form-control" %>
              </div>

              <div class="form-group">
                  <%= f.label "Numéro de téléphone", class: "mb-2" %>
                  <%= f.text_field :phone_number, class:"form-control", type: "number", placeholder:"+33" %>
              </div>

              <div class="form-group">
                <%= f.label "Photo de profil", class: "mb-2" %>
                <%= f.file_field :avatar, class: "form-control overflow-hidden" %>
              </div>

              <div class="actions mt-5">
                <%= f.submit "Modifier", class: "btn btn-lg btn-primary btn-block" %>
              </div>

            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
       

