<main>
  <section class="min-vh-100 d-flex align-items-center section-image overlay-soft-dark py-5 py-lg-0">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="text-center text-md-center mb-5 mt-md-0 text-white">
              <h1 class="mb-0 h3">Oublié le mot de passe ?</h1>
          </div>
        </div>
        <div class="col-12 d-flex align-items-center justify-content-center">
          <div class="signin-inner mt-3 mt-lg-0 bg-white shadow-soft border rounded border-light p-4 p-lg-5 w-100 fmxw-500">

          	<!--- central white card --->

			<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
			  <%= render "devise/shared/error_messages", resource: resource %>

            	<div class="form-group">
               		<label for="email">Email</label>
                	<div class="input-group mb-4">
                  		<div class="input-group-prepend">
	                    	<span class="input-group-text">
	                        	<span class="fas fa-envelope"></span>
	                    	</span>
                		</div>
			    		<%= f.email_field :email, autofocus: true, autocomplete: "email" %>
			  		</div>
			  	</div>

			  <div class="actions mb-4">
                <%= f.submit "Réinitialiser", class: "btn btn-lg btn-primary btn-block" %>
              </div>
			<% end %>

            <div class="form-group">
              Tu te souviens ?
              <%= render "devise/shared/links" %>
            </div>

            <!--- END central white card --->
          </div>
        </div>
      </div>
    </div>
  </section>
</main>