<div class="container">
  <div class="row">

    <% unless current_user.already_completed_profile? %>
      <div class="col-12 col-sm-6 col-md-4 text-center mb-4 mb-md-0 px-lg-4">
        <%= image_tag "illustrations/user_profile.png", class: "my-2", style: "max-height:200px" %>
        <%= active_link_to "Compléter mon profil →", edit_user_path(current_user), class: "btn btn-primary my-2" %>
      </div>
    <% end %>

    <% unless current_user.already_subscribed? %>
      <div class="col-12 col-sm-6 col-md-4 text-center mb-4 mb-md-0 px-lg-4">
        <%= image_tag "illustrations/easy-transaction.png", class: "my-2", style: "max-height:200px" %>
        <%= button_to checkout_create_path, class: "btn btn-primary my-2", remote: true do %>
          Démarrer mon abonnement →
        <% end %>
      </div>
    <% end %>

    <% unless current_user.already_has_an_address? %>
      <div class="col-12 col-sm-6 col-md-4 text-center mb-4 mb-md-0 px-lg-4">
        <%= image_tag "illustrations/feature-1.png", class: "my-2", style: "max-height:200px" %>
        <%= active_link_to "Ajouter une adresse →", new_user_address_path(current_user), class: "btn btn-primary my-2" %>
      </div>
    <% end %>

  </div>
</div>