<div class="section section-lg bg-soft">
  <div class="container">
    <div class="row pt-5 pt-md-0">

      <!-- Profile menu with recurring paths -->

      <div class="col-12 col-md-4 d-none d-lg-block">
        <%= render "shared/menu_profil" %>
      </div>

      <!-- Customized part with user info regarding address -->

      <div class="col-12 col-lg-8">
        <div class="card border-light p-2">
          <div class="card-body p-2">

            <% if !current_user.already_subscribed? %>

              <div class="text-center my-1">
                <%= image_tag "", class: "my-2 rounded", style: "max-height:300px" %>
                <h4 class="my-2 font-weight-normal">Tu n'ai pas encore abonné :</h4>
                <%= active_link_to "M'abonner", user_subscriptions_path(current_user), class: "btn btn-primary my-2" %>
              </div>

            <% elsif @orders.size == 0 %>

              <div class="text-center my-1">
                <%= image_tag "", class: "my-2 rounded", style: "max-height:300px" %>
                <h4 class="my-2 font-weight-normal">Tu n'a pas encore fait ta première commande !!! </h4>
                <%= active_link_to "Choisir mes jeux", root_path, class: "btn btn-primary my-2" %>
              </div>

            <% elsif @orders.size == 1 %>

              <div class="text-center my-1">
                <%= image_tag "", class: "my-2 rounded", style: "max-height:300px" %>
                <h4 class="my-2 font-weight-normal">Ta première commande est toujour en cours. Vas sur : </h4>
                <%= active_link_to "Ma commande en cours", user_order_path(current_user, current_order), class: "btn btn-primary my-2" %>
              </div>

            <% else %>

              <h1> Voici la liste de tes anciennes commandes :</h1>

              <% @orders.each_with_index do |order, index| %>

                <h3>Commande n°<%= index + 1%> :</h3>

                <h5> Liste des jeux louer : </h5>

                <ul>
                  <li><%= order.games[0].title %></li>
                  <li><%= order.games[1].title %></li>
                  <li><%= order.games[2].title %></li>
                  <li><%= order.games[3].title %></li>
                  <li><%= order.games[4].title %></li>
                </ul>

                <h5> Facture : PDF</h5>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
