<div class="section section-lg bg-soft">
  <div class="container">
    <div class="row pt-5 pt-md-0">

      <!-- Profile menu with recurring paths -->
        <%= render 'shared/menu_profil' %>

      <!-- Current_order status -->
      <div class="col-12 col-lg-8">
        <div class="row">
          <div class="col-12 col-sm">
            <div class="card border-light">
              <div class="card-body d-block d-md-flex align-items-center">
                <% if !current_user.already_subscribed? %>
                  <div class="text-center my-1">
                    <%= image_tag "cta/subscription_banner.jpg", class: "my-2 rounded", style: "max-height:300px" %>
                    <h4 class="my-2 font-weight-normal">Tu n'es pas encore abonné :</h4>
                    <%= link_to "M'abonner", user_subscriptions_path(current_user), class: "btn btn-primary my-6 " %>
                  </div>
                <%elsif current_order.status == "finished"%>

                    <span class="d-block h3 font-weight-normal">
                      Vous pouvez commander 5 nouveaux jeux
                    </span>

              </div>
                  <%= link_to "Louer de nouveaux jeux", root_path, class: "btn btn-primary btn-block animate-up-2" %>

                <% elsif current_order.status == "waiting_to_be_send" || current_order.status == "in_transit_send" %>

                    <span class="d-block h3 font-weight-normal">
                      En chemin vers chez vous
                    </span>
                  </div>
                <% elsif current_order.status == "arrived"%>

                    <span class="d-block h3 font-weight-normal">
                      Commande bien livrée
                    </span>
                  </div>
                  <%= render 'my_games', order: current_order %>
                <% elsif current_order.status == "waiting_to_be_back" || current_order.status == "in_transit_back" %>

                    <span class="d-block h3 font-weight-normal">
                      En chemin vers nos entrepôts
                    </span>
                  </div>
                <% else %>

                    <span class="d-block h3 font-weight-normal">
                      Nous avons un problème avec votre commande, contacter le service client (sc@pulpoludo.com)
                    </span>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>