<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  
    <h1>Alert, shipping échouer!</h1>

    <p>
      L'utilisateur : <%= @user.full_name%> à rencontrer en problème lors de sa validation de commande. <br>
      Prendre contacte avec lui pour de plus emple information.
    </p>

    <p>
      Voici les information de son abonnement :
    </p>

    <ul>
        <li>
          subscription id : <%= @subscription.id%>
        </li>
        <li>
          user id : <%= @subscription.user.id%>
        </li>
        <li>
          stripe id : <%= @subscription.stripe_id%>
        </li>
        <li>
          status de l'abonnement : <%= @subscription.status%>
        </li>
        <li>
          prix de l'abonnement : <%= @subscription.price%>
        </li>
        <li>
          début de l'abonnement : <%= @subscription.start_date%>
        </li>
        <li>
          durer de l'abonnement : <%= @subscription.duration%>
        </li>
        <li>
          created_at : <%= @subscription.created_at%>
        </li>
        <li>
          updated_at : <%= @subscription.updated_at%>
        </li>
    </ul>
  </body>
</html>