<div class="section section-lg bg-soft">
  <div class="container">
    <h1 class="pt-5 pt-md-0 my-5 text-center"><i class="fas fa-cart-arrow-down"></i> Mon panier</h1>
                          
    <div class="row">
      <div class="col-12">
        <%if @cart.send_cart?%>
          <h6 class="text-center"> Tu as déjà commandé 5 jeux. Si tu veux en recomander 5 nouveaux il te faut d'abord nous renvoyer les 5 que tu as chez toi. <br>
          Lorsque que nous les reçevrons nous t'enverons un mail pour te signaler que tu peux en commander 5 nouveaux. </h6>
          <%= link_to "Ma commande actuelle", user_order_path(current_user, current_order), :class => "ml-3 col-auto btn btn-primary my-auto" %>
        <% else %>
          <% unless @cart.games.empty? %>  
            <div class="table-responsive align-middle">                            
              <table class="table mb-0 align-middle">
                <thead class="bg-light border-top">
                  <tr>
                    <th scope="row" class="border-0 text-left">
                      Image du jeu
                    </th>
                    <th scope="row" class="border-0">
                      Nom du jeu
                    </th>                                         
            
                    <th scope="row" class="border-0">
                      
                    </th>
                  </tr>
                </thead>
                <% @cart.games.each do |game| %>
                  <tbody>
                    <tr>
                      <td>
                        <%if game.game_sheet.game_picture.attached?%>
                          <%= image_tag game.game_sheet.game_picture, :alt => "game img", class:"card-img p-2 rounded-xl", style: "height: 300px; width: auto" %>
                        <%else%>
                          <img style= "height: 100px; width: auto" src="<%= asset_path( 'game-index-background4.jpg' ) %>" />
                        <% end %>
                      </td>
                      <td class="align-middle"> 
                        <%= game.game_sheet.title %>
                      </td>                          
                      <td class="align-middle">
                        <a href="<%= game_path(game.id) %>" class="btn btn-light" data-confirm="êtes-vous sur?" data-method="PATCH">Supprimer du panier</a>
                      </td>                                        
                    </tr>                  
                  </tbody>
                <%end%>  
              </table>
            </div>
            <%if @cart.full_cart?%>
              <% unless @user.already_has_an_address? && @user.already_completed_profile? %>
                <%= render 'shared/cta_info_missing(user_cart)' %>
              <%else%>  
                <div class="d-flex justify-content-end text-right mb-4 py-4">
                  <div class="mt-4">
                    <table class="d-flex justify-content-end table table-clear text-center">
                      <tbody>
                        <tr>
                          <td class="left">
                            <strong>Frais de port</strong>
                          </td>
                          <td class="right">10€</td>
                        </tr>
                        
                        <tr>
                          <td colspan="2" class="right"> 
                            <%= link_to "Passer commande", new_stripe_checkoutorder_path(total: 10), class: "btn btn-primary my-3", remote: true %>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              <%end%>
            <%else%>
              <div class="d-flex justify-content-end text-right mb-4 py-4">
                <div class="mt-4">
                  <h6 class="text-center"> Ajoute 5 jeux pour pouvoir les commander </h6>
                </div>
              </div>
            <%end%>
          <% else %>
            <h6 class="text-center"> Ton panier est vide </h6>
          <%end%>
        <%end%>
      </div>
    </div>
  </div>
</div>
