<div class="section section-lg bg-soft">
  <div class="container">
    <div class="row pt-5 pt-md-0">

      <!-- Profile menu with recurring paths -->

      <div class="col-12 col-md-4 d-none d-lg-block">
        <%= render "shared/menu_profil" %>
      </div>

      <!-- Customized part with user info regarding subscription -->

      <div class="col-12 col-lg-8">
              
        <div class="card border-light p-2">

          <div class="card-body p-2">

            <% unless current_user.already_subscribed? %>
              <div class="text-center my-1">
                <%= image_tag "illustrations/easy-transaction.png", class: "my-2 rounded", style: "max-height:300px" %>
                <h4 class="my-2 font-weight-normal">Profitez de 5 jeux de société à tout instant.</h4>
                <p class="my-2">Sans publicité ni engagement. À 9,99 € par mois.</p>
                <%= button_to "Démarrez votre abonnement →", stripe_checkouts_path, :method => "post", class: "btn btn-primary my-2", remote: true %>
              </div>
            <% else %>

              <h3 class="my-4 font-weight-normal text-center">Voici ton abonnement en cours :</h3>

              <% @subscriptions.active.each_with_index do |subscription, index| %>
                <p class="py-0 my-0">Paiement réalisé : <%= subscription.price %> €.</p>
                <p class="py-0 my-0">Début de l'abonnement : <%= subscription.clean_start_date %>.</p>
                <p class="py-0 my-0">Durée de l'abonnement : <%= subscription.duration %> mois.</p>
                <p class="py-0 my-0">Fin de l'abonnement : <%= subscription.clean_end_date %>.</p>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

