<% unless current_user.already_subscribed? %>
  <div class="text-center my-5">
    <%= button_to "Payer un abonnement (CHECKOUT)", checkout_create_path(price: 10), class: "btn btn-primary", remote: true %>
  </div>
<% else %>
  <h1> Voici ton abonnement en cours </h1>

  <% @subscriptions.active.each_with_index do |subscription, index| %>
    <ul>
      <li>Paiement réalisé :<%= subscription.price %> €.</li>
      <li><%= subscription.start_date %>.</li>
      <li><%= subscription.duration %> mois.</li>
      <li><%= subscription.end_date %>.</li>
    </ul>
  <% end %>
<% end %>
