<div class="section section-lg bg-soft">
  <div class="container">
    <div class="row pt-5 pt-md-0">

      <!-- Profile menu with recurring paths -->

      <div class="col-12 col-md-4 d-none d-lg-block">
        <%= render "shared/menu_profil" %>
      </div>

      <!-- Customized form for user info edition -->

      <div class="col-12 col-lg-8">
              
        <div class="card border-light p-2">

          <div class="card-body p-2">

            <% unless current_user.already_subscribed? %>
              <div class="text-center my-1">
                <%= image_tag "cta/subscription_banner.jpg", class: "my-2 rounded", style: "max-height:300px" %>
                <h4 class="my-2 font-weight-normal">Profitez de 5 jeux de société à tout instant.</h4>
                <p class="my-2">Sans publicité ni engagement. À 9,99 € par mois.</p>
                <%= button_to "Démarrez votre abonnement →", checkout_create_path(price: 10), class: "btn btn-primary my-2", remote: true %>
              </div>
            <% else %>

              <h1> Voici ton abonnement en cours </h1>

              <% @subscriptions.active.each_with_index do |subscription, index| %>
                <ul>
                  <li>Paiement réalisé :<%= subscription.price %> €.</li>
                  <li><%= subscription.start_date %>.</li>
                  <li><%= subscription.duration %> mois.</li>
                  <li><%= subscription.end_date %>.</li>
                </ul>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

