<!DOCTYPE html>
<html>
  <head>
    <title>PulpoludoThp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'admin', media: 'all' %>
    <%= javascript_include_tag 'admin' %>

    <%= favicon_link_tag asset_path('logo/FAVICON/favicon-logo-court-couleur-recentré.png') %>

    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>

    <script src="https://js.stripe.com/v3/"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
