
<nav id="navbar-main" class="navbar navbar-main navbar-theme-primary navbar-expand-lg headroom py-lg-2 px-lg-6 navbar-dark  navbar-theme-primary border-bottom" style="box-shadow: 0 0.5rem 1rem rgba(13, 27, 72, 0.15)">

  
    <div class="mr-auto">
      <a class="@@logo_classes" href="<%= root_path %>" >
        <%= image_tag 'logo/NAVBAR/logo-entier-couleur-recentre.png', class: "logo-navbar" %>
      </a>
    </div>
      

     <div class="d-lg-block @@cta_button_classes">


      <% if user_signed_in? %>
        <% if current_user.carts %>
          <a href="<%= cart_path(current_cart.id)%>" class="btn animate-up-2 cart position-relative d-inline-flex"><i style="color: var(--primary)" class="fas fa-lg fa-shopping-cart mr-2"></i>
          <span class="cart-basket d-flex align-items-center justify-content-center">
            0
          </span>
        </a>
        <%end%>
      <% else %>
        <a href="<%= new_user_session_path %>" class="btn btn-md btn-outline-white animate-up-2">
          <span class="d-xl-inline">Se connecter</span>
        </a>
        <a href="<%= new_user_registration_path %>" class="btn btn-md btn-outline-white animate-up-2 mr-3">
          <span class="d-xl-inline">S'inscrire</span>
        </a>
      <% end %>

    </div>

  <div class="d-lg-block @@cta_button_classes">
    <% if user_signed_in? %>
      <% if current_user.is_admin? == true %>
        <a class="btn btn-primary" href="<%= admin_root_path %>">Site Admin</a>
      <% end %>
      <% if current_user.carts %>
        <a href="<%= cart_path(current_cart.id)%>" class="btn animate-up-2"><i style="color: var(--primary)" class="fas fa-lg fa-shopping-cart mr-2"></i></a>
      <%end%>
    <% else %>
      <a href="<%= new_user_session_path %>" class="btn btn-md btn-outline-white animate-up-2">
        <span class="d-xl-inline">Se connecter</span>
      </a>
      <a href="<%= new_user_registration_path %>" class="btn btn-md btn-outline-white animate-up-2 mr-3">
        <span class="d-xl-inline">S'inscrire</span>
      </a>
    <% end %>

  </div>

  <% if user_signed_in? %>
    <div class="link_personal_profile mr-2 btn btn-md align-items-center" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= link_to user_path(current_user.id)  do %>
        <%if current_user.avatar.attached?%>
          <span class="mr-2"><%= image_tag(current_user.thumbnail, :alt => 'real avatar', class:'rounded-circle avatar-navbar') %></span>
        <%else%>      
          <span class="mr-2"><%= image_tag('unnamed.jpg', :alt => 'default avatar', class:'rounded-circle avatar-navbar') %></span>      
        <% end %>
        <span><strong><%= current_user.first_name %></strong></span>
      <% end %>
    </div>

    <div class="dropdown-menu dropdown-menu-right text-left mr-3" aria-labelledby="dropdownMenuButton">
      <div class="link_personal_profile">
        <%= link_to user_path(current_user.id), class:"btn btn-light rounded d-flex mx-2 align-items-center", style:"height: 80px"  do %>
          <%if current_user.avatar.attached?%>
            <span class="mr-2"><%= image_tag(current_user.avatar, :alt => 'real avatar', class:'rounded-circle', style: 'height:64px;width:64px') %></span>
          <%else%>
            <span class="mr-2"><%= image_tag('unnamed.jpg', :alt => 'default avatar', class:'rounded-circle', style: 'height:64px;width:64px') %></span>
          <% end %>
          <div class="text-left">
            <strong><%= current_user.first_name %> <%= current_user.last_name %></strong><br>
            <span class="text-muted">Voir mon profil</span>
          </div>
        <% end %>
      </div>

      <hr/>

      <div class="link_personal_settings">
        <%= link_to edit_user_path(current_user.id), class:"btn btn-light-custom-profile rounded d-flex mx-2 align-items-center", style:"height: 32px"  do %>
          <i class="fas fa-user mr-2"></i>
          <span>Modifier mon profil</span>
        <% end %>
      </div>

      <div class="link_personal_settings">
        <%= link_to edit_user_registration_path(current_user.id), class:"btn btn-light-custom-profile rounded d-flex mx-2 align-items-center", style:"height: 32px"  do %>
          <i class="fas fa-cog mr-2"></i>
          <span>Modifier mes informations</span>
        <% end %>
      </div>

      <div class="link_logout">
        <%= link_to destroy_user_session_path, method: :delete, class:"btn btn-light-custom-profile rounded d-flex mx-2 align-items-center", style:"height: 32px"  do %>
          <i class="fas fa-sign-out-alt mr-2"></i>
          <span>Se déconnecter</span>
        <% end %>
      </div>
    </div>
  <% end %>
</nav>