<!DOCTYPE html>
<html>
  <head>
    <title>PulpoludoThp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="d-flex flex-column">

      <div class="d-flex flex-column">
      <%= render 'layouts/navbar' %>
      <br><br><br><br>
      </div>
      
      <div class="d-flex flex-column mb-5">
      <%= yield %>
      </div>
      
      <div class="d-flex flex-column">
      
      </div>

    </div>
  
  </body>
</html>
